@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

html {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    font-size: 18px;
}
h1 {
    background-color: #eff4f5;
    margin: 0;
    min-height: 4rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
header {
    padding: 0;
}
body {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}
main {
    display: flex;
}


aside {
    min-width: 15rem;
    background-color: #ebf0ec;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
    gap: 1rem;
}
#addProjectBtn {
    max-width: 6rem;
    margin-bottom: 2rem;
}
#addProjectDiv {
    gap: 1rem;
    display: flex;
    flex-direction: column;
}
.projectCards {
    background-color: #83c991;
    width: auto;
    height: 2rem;
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    cursor: pointer;
}

#content {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
}